[submodule "external/sss"]
	path = external/sss
	url = https://github.com/dsprenkels/sss.git
[submodule "external/quirc"]
	path = external/quirc
	url = https://github.com/ficaud/relic-quirc.git 
[submodule "external/zxing-cpp"]
	path = external/zxing-cpp
	url = https://github.com/ficaud/relic-zxing-cpp.git
